__pycache__/
venv/
*.jpg
*.png
d_test/.env
item_counter/yolov5

# Ignore all files in the audio/ directory
audio_classification/audio/*

# Ignore all files in the yamnet_model/ directory
audio_classification/yamnet_model/*
